header{
    text-align: center;
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 900px;
}

 a{
    padding-left:10px;
    padding-right:10px;
    background-color:#00FA9A ;

 }

 .featured-property{
    width: 800px;
    text-align:center;
    line-height:1.6;

 }
 

#details{

    float:left;
    width:200px;
    border: 3px solid #73AD21;
    padding:10px;

}  

div{
    background-color:#F5FFFA ;
    text-align: center;
    width:25%;
}